.pagination {
    padding-bottom: 100px;
}

.pagination a {
    color: black;
    float: left;
    padding: 6px 12px;
    text-decoration: none;
    transition: background-color .3s;
	font-size: 15px;
}

.pagination a.active {
    background-color: #e62b1e;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

@media (max-width: 380px) {
    .pagination a {
        padding: 6px 12px;
        font-size: 14px;
    }

    .pagination {
        padding-bottom: 40px;
    }
}