<img src="images/tedxsnu_fixed_narrow.png" class="img-fluid" alt="Responsive image" width= "100%"/>
<div class="about">
    <h2>About <strong>TED</strong></h2>
    <p>TED는 ‘Ideas worth spreading(널리 퍼트릴 만한 아이디어)’이라는 슬로건 아래 열리는 세계 최대 규모의 지식 공유 컨퍼런스입니다. 1984년 미국에서 비영리 재단으로 창립된 것을 그 시초로 하며, 1990년도부터는 Technology, Entertainment, Design을 포함한 다양한 분야의 전문가들을 초청, 그들이 가진 영감을 공유해오고 있습니다. 최대 18분 동안 전달된 아이디어는 전 세계 수백만 명의 TED 커뮤니티 구성원들이 가진 발전을 향한 열린 사고와 열정과 합해져, 세상을 바꿀 새로운 움직임이 되고 있습니다.</p>
    <h2>About <strong>TEDx</strong></h2>
    <p>TEDx는 TED에서 운영하고 있는 여러 프로그램 중의 하나로, TEDx의 ‘x’는 ‘independently organized (독립적으로 개최되는)’를 의미합니다. TED의 모토에 공감하는 사람들이 지역 사회 구성원에게 TED스러운 경험과 영감을 제공하기 위한 목적으로 조직하며, 규모가 커진 TED에게서 기대하기 어려운 조금 더 직접적이고 감성적인 소통의 장을 제공합니다.</p>
    <p>현재 전 세계 150개국에서 총 9000개가 넘는 TEDx 커뮤니티가 생겼으며, 우리나라에서도 2009년 TEDxMyungdong을 시작으로, TEDxSNU, TEDxSeoul, TEDxDaejeon, TEDxBusan 등 수십 개의 TEDx가 형성, 운영되고 있습니다</p>
    <h2>About <strong>TEDx</strong>SNU</h2>
    <p>TEDxSNU(서울대학교)는 서울대학교와 관악구 기반의 TEDx로, TED talks 프로그램을 진행함으로써 가치 있는 생각을 전파합니다. 영감의 확신은 서울대학교와 관악구에서 출발하여, 서울과 대한민국, 나아가 전 세계로까지 퍼져나갈 것입니다. TEDxSNU 커뮤니티는 이러한 움직임에 가슴 설레하는 사람들로 구성되어 있으며, 지식공유를 통해 현대 사회에 또 다른 울림을 전하고자 합니다.</p>
    <p>2011년 3월에 첫 번째 행사 이후, TEDxSNU는 8년째 계속되고 있습니다. Technology, Entertainment, Design, Geek?, Link 등의 주제로 개최되었으며 80명 이상의 연사들께서 본인의 가치있는 생각을 전파해주셨습니다.</p>  
</div>